*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 1rem;
    font-family: Alegreya_SC, Arial, Helvetica, sans-serif;
    color: #6A6A6A;
}
img{
    max-width: 100%;
}
h1 {
    display: flex;
    justify-content: center;
    color: #3A4F52;
    font-size: 2rem;
    margin-top: 3vh;
}
.sonne {
    display: flex;
    justify-content: flex-end;
    
}
.boden {
    display: flex;
    justify-content: space-evenly;
}
.Rrechts {
    animation: rasenmaeher_bewegen_r 20s linear infinite alternate;
}
.Rlinks{
    animation: rasenmaeher_bewegen_l 20s linear infinite alternate;
} 

@keyframes rasenmaeher_bewegen_r {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
    
} 
@keyframes rasenmaeher_bewegen_l {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
